.card-holder{
    display: inline-block;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    align-items: stretch;    
    flex-direction: row;
  
    
    
}


.medicine_card
{
   
  
   
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin: 30px;  
   display: inline-block;
   border-radius: 10px;
  

  justify-content: space-around;
   
}.i{
    display: flex;
}
.h3{
    font-family: Vivaldi, cursive;
}
.img_sty
{
   width: 200px;
   height: 200px;
   margin: 20px;
   justify-self: right;
}
.form{
    background-color: whitesmoke;
}
.medicine-details{
    
   
    display: flex;
    flex-direction: column; 
    padding-left: 20px;
    margin-bottom: 10px;
}

.medicine-details-1{   
   
    display: flex;
    flex-direction: column; 
    padding-left: 20px;
    margin-bottom: 20px;
    
}