.pro-pic {
	display: flex;
	height: 100%;
	justify-content: space-around;
	align-items: center;
	background-color: red;
}
.form_add_item {
	display: flex;
	width: 100%;
	/* height: 603px; */
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.form-add {
	width: 100%;
	background-color: white;
	height: 80%;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.input_1 {
	width: 70%;
	height: 10%;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 4px;
	border-color: brown;
	opacity: 0.6;
	transition: all 0.5s;
	cursor: pointer;
	padding-left: 20px;
	background-color: transparent;
}

.pic {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.pic_u {
	margin: 10px;
}
